* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    background: transparent;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99999999;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: transparent;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 0.5px solid gray;
}

.container {
    margin: 0px 60px;
}

.header .header-p {
    padding: 20px 0px;
}

.header .header-flex {
    display: flex;
    align-items: center;
}

.header .header-flex .logo {
    flex: 1;
}

.header .header-flex .logo h1 {
    color: #0ead69;
    text-transform: uppercase;
    font-size: 25px;
    text-shadow: 0 0 2px black;
}

.header .header-flex .logo a {
    color: #0ead69;
    padding: 10px;
    font-weight: 700;
    -webkit-text-stroke: 0.5px blue;
}

.header .header-flex .logo span {
    color: white;
}

.header .header-flex .nav {
    flex: 3;
    align-items: center;
}

.header .header-flex .nav ul {
    display: flex;
    gap: 20px;
    cursor: pointer;
    text-shadow: 0 0 10px black;
    -webkit-text-stroke: 0.1px yellow;

}

.header .header-flex .nav ul .close-btn {
    border: 1px solid white;
    height: 30px;
    width: 50px;
    display: grid;
    border-radius: 10px;
    margin: auto;
    display: none;
    padding-top: 5px;
}

.header .header-flex .nav ul .close-btn span {
    display: grid;
    place-content: center;
}

.header .header-flex .nav .home a {
    color: #0ead69;
    font-weight: 700;
}

.header .header-flex .nav ul .home {
    position: relative;
}

.header .header-flex .nav ul .home::after {
    content: "";
    position: absolute;
    top: 42px;
    left: -2px;
    width: 100%;
    height: 2px;
    background-color: #0ead69;
    border: none;
    outline: none;
}

.header .header-flex .nav .about a {
    transition: 1s all ease;
}

.header .header-flex .nav .about {
    position: relative;
}

.header .header-flex .nav .about::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #0ead69;
    transform: scale(0);
    transition: 1s all ease;
    border: none;
    outline: none;
}

.header .header-flex .nav .about:hover:after {
    transform: scale(1.5);
}

.header .header-flex .nav .about a:hover {
    color: #0ead69;
}

.header .header-flex .nav .ser a {
    transition: 1s all ease;
}

.header .header-flex .nav .ser {
    position: relative;
}

.header .header-flex .nav .ser::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #0ead69;
    transform: scale(0);
    transition: 1s all ease;
}

.header .header-flex .nav .ser:hover:after {
    transform: scale(1.5);
}

.header .header-flex .nav .ser a:hover {
    color: #0ead69;
}

.header .header-flex .nav .pages a {
    transition: 1s all ease;
}

.header .header-flex .nav .pages {
    position: relative;
}

.header .header-flex .nav .pages::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #0ead69;
    transform: scale(0);
    transition: 1s all ease;
}

.header .header-flex .nav .pages:hover:after {
    transform: scale(1.5);
}

.header .header-flex .nav .pages a:hover {
    color: #0ead69;
}

.header .header-flex .nav .contact a {
    transition: 1s all ease;
}

.header .header-flex .nav .contact {
    position: relative;
}

.header .header-flex .nav .contact::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #0ead69;
    transform: scale(0);
    transition: 1s all ease;
}

.header .header-flex .nav .contact:hover:after {
    transform: scale(1.5);
}

.header .header-flex .nav .contact a:hover {
    color: #0ead69;
}

.header .header-flex .nav a {
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-shadow: 0 0 2px black;
}

.header .header-flex .nav span {
    color: #0ead69;
    font-weight: 700;
    font-size: 16px;
    text-shadow: 0 0 2px black;
}

.header .header-flex .theme {
    flex: 1;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
}

.header .header-flex .theme .btn {
    width: 160px;
    height: 40px;
    position: relative;
    top: 0;
    color: white;
    font-weight: 600;
    background-color: #0ead69;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 1s all ease;
    outline: none;
    cursor: pointer;
}

.header .header-flex .theme .btn:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
    outline: none;
}

.header .header-flex .theme .icon {
    position: relative;
    top: 0;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 2px black;
}

.header .header-flex .theme .bars {
    display: none;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background: #0ead69;
    color: white;
}

.header .header-flex .theme .bars .fa-bars {
    padding: 7px 7px;
}

.dark-theme {
    background-color: rgba(14, 13, 13, 0.912);
    color: white;
}

.dark-theme .header .header-flex .logo a {
    color: white;
}

.dark-theme .header .header-flex .logo span {
    color: #0ead69;
    font-weight: 700;
}

.dark-theme .header .header-flex .nav .home a {
    color: blue;
    font-weight: 700;
}

.dark-theme .header .header-flex .nav a {
    color: white;
}

/* ---------HomePage-------- */
.homepage {
    background: url(Images/banner4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    z-index: 1;
    text-align: center;
}

.homepage::after {
    content: "";
    background-color: rgba(21, 21, 21, 0.402);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    z-index: -1;
    width: 100%;
}

.homepage .homepage-p {
    padding: 150px 0px;
}

.homepage .homepage-content {
    margin: auto;
    width: 50%;
    height: 70%;
}

.homepage .homepage-content h5 {
    color: #0ead69;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 20px;
}

.homepage .homepage-content h1 {
    font-size: 70px;
    color: white;
    padding-bottom: 40px;
}

.homepage .homepage-content .read-btn {
    width: 200px;
    height: 50px;
    background-color: #ffffff1d;
    border: 1px solid white;
    outline: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    transition: 1s all ease;
}

.homepage .homepage-content .read-btn:hover {
    background-color: #0ead69;
    border: 1px solid #0ead69;
}

/* ------------Star Of About US------ */
.about-us {
    /* background-color: aliceblue; */
}

.about-us .about-us-p {
    padding: 100px 0px;
}

.about-us .about-us-row {
    display: flex;
    gap: 20px;
}

.about-us .about-us-row .col1 {
    flex: 1;
}

.about-us .about-us-row .col1 h5 {
    color: mediumvioletred;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.about-us .about-us-row .col1 h1 {
    font-size: 35px;
}

.about-us .about-us-row .col2 {
    flex: 1;
}

.about-us .about-us-row .col2 p {
    padding: 15px;
    line-height: 30px;
    color: gray;
}

.about-us .about-us-row .col3 {
    flex: 1;
}

.about-us .about-us-row .col3 p {
    padding: 15px;
    line-height: 30px;
    color: gray;
}

/* -----main box------- */
.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    margin-top: 50px;
    width: 100%;
    position: relative;
    top: 0;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.469);
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* -----col1------- */
.box .col1 {

    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.box .col1 .img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .col1 .img1 img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 1s all ease;
    width: 100%;
    height: 100%;
}

.box .col1:hover .img1 img {
    transform: scale(1.2);
}

.box .col1 .col1-text {
    position: relative;
    top: 80px;
    left: 20%;
    color: beige;
    text-shadow: 0 0 10px black;
}

.box .col1 .col1-text .inner-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: beige;
}

.box .col1 .inner-text span {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background: transparent;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.box .col1:hover .inner-text span {
    background-color: green;
}

/* ----col2----- */
.box .col2 {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.box .col2 .img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .col2 .img2 img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: 1s all ease;
}

.box .col2:hover .img2 img {
    transform: scale(1.2);
}

.box .col2 .col2-text {
    position: relative;
    top: 80px;
    left: 20%;
    color: beige;
    text-shadow: 0 0 10px black;
    max-width: 100%;
    height: auto;
}

.box .col2 .col2-text .inner-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: beige;
}

.box .col2 .inner-text span {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background: transparent;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.box .col2:hover .inner-text span {
    background-color: green;
}

/* ----col3------ */
.box .col3 {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.box .col3 .img3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .col3 .img3 img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 1s all ease;
    width: 100%;
    height: 100%;
}

.box .col3:hover .img3 img {
    transform: scale(1.2);
}

.box .col3 .col3-text {
    position: relative;
    top: 80px;
    left: 20%;
    color: beige;
    text-shadow: 0 0 10px black;
}

.box .col3 .col3-text .inner-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: beige;
}

.box .col3 .inner-text span {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background: transparent;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.box .col3:hover .inner-text span {
    background-color: green;
}

/*----start of WHO WE ARE ----- */

.who-we-are {
    background-color: #edf3f0;
}

.who-we-are .who-we-are-p {
    padding: 50px 50px;
}

.who-we-are .heading-text {
    text-align: center;
}

.who-we-are .heading-text h5 {
    color: #0ead69;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;
}

.who-we-are .heading-text h1 {
    font-size: 40px;
    text-shadow: 0 0 2px black;
}

.who-we-are .who-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    max-width: 100%;
}

.who-we-are .who-box .who-col1 {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s all ease;
}

.who-we-are .who-box .who-col1:hover .icon {
    background-color: #0ead69;
    color: white;
}

.who-we-are .who-box .who-col1 .icon {
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: #0ead69;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 30px auto;
    transition: 1s all ease;
}

.who-we-are .who-box .who-col1 a {
    color: black;
    font-size: 30px;
    font-weight: 700;
    transition: 1s all ease;
}

.who-we-are .who-box .who-col1 a:hover {
    color: #0ead69;
    cursor: pointer;
}

.who-we-are .who-box .who-col1 p {
    padding-top: 20px;
    color: gray;
}

/* ---------------------------------- */

.who-we-are .who-box .who-col2 {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s all ease;
}

.who-we-are .who-box .who-col2:hover .icon {
    background-color: #0ead69;
    color: white;
}

.who-we-are .who-box .who-col2 .icon {
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: #0ead69;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 30px auto;
    transition: 1s all ease;
}

.who-we-are .who-box .who-col2 a {
    color: black;
    font-size: 30px;
    font-weight: 700;
    transition: 1s all ease;
}

.who-we-are .who-box .who-col2 a:hover {
    color: #0ead69;
    cursor: pointer;
}

.who-we-are .who-box .who-col2 p {
    padding-top: 20px;
    color: gray;
}

.who-we-are .who-box .who-col3 {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s all ease;
}

.who-we-are .who-box .who-col3:hover .icon {
    background-color: #0ead69;
    color: white;
}

.who-we-are .who-box .who-col3 .icon {
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: #0ead69;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 30px auto;
    transition: 1s all ease;
}

.who-we-are .who-box .who-col3 a {
    color: black;
    font-size: 30px;
    font-weight: 700;
    transition: 1s all ease;
}

.who-we-are .who-box .who-col3 a:hover {
    color: #0ead69;
    cursor: pointer;
}

.who-we-are .who-box .who-col3 p {
    color: gray;
}

/*-----------start of Why Us----------- */

.whyUs-p {
    padding: 100px 50px;
}

.whyUs .whyUs-flex {
    display: flex;
    gap: 20px;
}

.whyUs .whyUs-flex .img1 {
    flex: 1;
    /* border: 1px solid black; */
    border-radius: 5px;
}

.whyUs .whyUs-flex .img1 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
}

.whyUs .whyUs-flex .img2 {
    flex: 1;
    /* border: 1px solid black; */
    border-radius: 5px;
}

.whyUs .whyUs-flex .img2 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.whyUs .whyUs-flex .text-content {
    flex: 1;
    /* border: 1px solid black; */
    text-align: left;
    padding: 30px 10px 30px 20px;
}

.whyUs .whyUs-flex .text-content h5 {
    color: #0ead69;
    text-shadow: 0 0 2px gray;
    padding-bottom: 10px;
}

.whyUs .whyUs-flex .text-content h1 {
    color: black;
    padding-bottom: 10px;
    font-size: 30px;
    text-shadow: 0 0 2px gray;
}

.whyUs .whyUs-flex .text-content p {
    color: gray;
    line-height: 30px;
    padding-bottom: 10px;
}

.whyUs .whyUs-flex .text-content .list-item {
    color: gray;
    line-height: 20px;
}

.whyUs .whyUs-flex .text-content .list-item span {
    color: #0ead69;
    font-size: 20px;
}

/* ----video image---- */
.video{
    /* background-color: blue; */
    /* height: 500px; */
}
.video .video-p {
    padding: 0px 20px;
}

.video .video-box {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video .video-box .video-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;
}

.video .video-box .video-img img {
    max-width: 100%;
    z-index: -111;
    filter: brightness(50%);
    border-radius: 10px;

}

.video .video-box .video-content {
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    /* position: absolute; */
    position: relative;
    top: 0;
    left: 0;    
    right: 0;
    bottom: 0;
    font-size: 20px;
    z-index: 1;
    margin: 25% auto;
    border: none;
    outline: none;
    background: white;
    -webkit-text-stroke: 1px green;
}

.video .video-box .video-content span {
    z-index: 1111;
    color: #0ead69;
    text-align: center;
}

.video .video-box .video-content::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    transition: 1s all ease;
    transform: scale(0);
    animation: action 2s infinite linear;
    border: none;
    outline: none;
}

@keyframes action {
    0% {
        transform: scale(0.95);
        box-shadow: 2px 2px 20px white;
    }

    100% {
        transform: scale(1.3);
        box-shadow: 2px 2px 20px white;
    }
}

.video .video-box .video-content::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    border: none;
    outline: none;
    top: -12px;
    left: -12px;
    border-radius: 50%;
    animation: act2 2s linear infinite;
    transition: 1s all ease;
}

@keyframes act2 {
    0% {
        transform: scale(0.85);
        box-shadow: 2px 2px 20px white;
    }

    100% {
        transform: scale(1.2);
        box-shadow: 2px 2px 20px white;
    }
}

/* start of Gallary------- */

.Gallary .Gallary-p{
    padding: 140px 0px;
}

.Gallary .heading{
    text-align: center;
}
.Gallary .heading h3{
    text-transform: uppercase;
    color:crimson ;
    font-size: 14px;
    font-weight: 700;
    -webkit-text-stroke: 1px crimson;
}
.Gallary .heading h1{
    padding-top: 10px;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
}

.Gallary .Gallary-row{
    padding-bottom:20px;
    display: flex;
    gap: 20px;
}

.Gallary .Gallary-row .img1{
    flex: 1;
}
.Gallary .Gallary-row .img1 img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.Gallary .Gallary-row .img2{
    flex: 1;
}
.Gallary .Gallary-row .img2 img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.Gallary .Gallary-row .img3{
    flex: 1;
}
.Gallary .Gallary-row .img3 img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

/* Footer----------------- */
footer {
    background-color: black;
    color: white;
}

footer .footer-p {
    padding: 50px 0px;
}

footer .headings {
    text-align: center;
    padding-bottom: 20px;
}

footer .nav-menu {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

footer .nav-menu a {
    color: white;
    font-size: 20px;
}

footer .nav-menu a:hover {
    color: #ffdc22;
}

footer .bottom-body-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

footer .bottom-body-grid .categories h5 {
    font-size: 16px;
    padding-bottom: 20px;
}

footer .bottom-body-grid .categories ul {
    line-height: 30px;
}

footer .bottom-body-grid .categories ul a {
    color: white;
    font-weight: 700;
}

footer .bottom-body-grid .categories ul a:hover {
    color: #eabf00;
}

footer .bottom-body-grid .NewsLetter h5{
    font-size: 16px;
    padding-bottom: 10px;
}
footer .bottom-body-grid .NewsLetter input[type="text"]{
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
}
footer .bottom-body-grid .NewsLetter input[type="text"]:focus-visible{
    outline: none;
}
footer .bottom-body-grid .NewsLetter .btn{
    width: 315px;
    height: 70px;
    border-radius: 5px;
    color: black;
    background: #eabf00;
    font-weight: 700;
    font-size: 16px;
}

footer .bottom-body-grid .Call-us h5 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 20px;
}
footer .bottom-body-grid .Call-us ul {
    line-height: 30px;
}
footer .bottom-body-grid .Call-us ul a{
    color: white;
    font-weight: 700;
}
footer .bottom-body-grid .Call-us ul a:hover{
    color: #eabf00;
}
