@media (min-width:992px) {
    .container {
        margin: 0px 60px;
    }
    .box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 300px;
        margin-top: 50px;
        width: 100%;
    }    

    /* footer.... */
    footer .bottom-body-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}